services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: chic-backend
    environment:
      # Adjust DB name and secret as needed
      MONGO_URI: "mongodb://mongo:27017/chicforgeeks"
      FLASK_ENV: "production"
    ports:
      - "8000:8000"
    depends_on:
      - mongo
    volumes:
      - ./backend/uploads:/app/uploads

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        NEXT_PUBLIC_API_BASE_URL: ${API_BASE_URL:-http://85.191.37.69:8000/api}
    container_name: chic-frontend
    environment:
      NEXT_PUBLIC_API_BASE_URL: ${API_BASE_URL:-http://85.191.37.69:8000/api}
    ports:
      - "3000:3000"
    depends_on:
      - backend

  mongo:
    image: mongo:7
    container_name: chic-mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
